
<div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                <small>Search results for {{search}}</small>           
            </h1>   
            <a href="#/home">Back to Search</a>
    </div>
</div>
    <div ng-repeat="w in weatherResult.items track by w.id">
        <div class="col-md-4 portfolio-item">
           <a ng-href ="#/book"><img ng-click="bookResult(w.id)" class="img-responsive" src = {{w.volumeInfo.imageLinks.thumbnail}} alt=""></a>
            <div class = "h5"> 
                {{w.volumeInfo.title}}
            </div>
              
        </div>
    </div>


